[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=ball-network
Comment=ball-network
Exec=/usr/bin/network-ball-gtk -delay 20
StartupNotify=false
Terminal=false
Hidden=false